<div class = "row">
	<h3>News</h3>
	<br />
	<div id = "newscontainer">
		<script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Ffinance.yahoo.com%2Frss%2Fheadline%3Fs%3Dgoog%2Cappl%2Cfb&chan=y&num=20&date=y&targ=y&utf=y&html=a"  charset="UTF-8" type="text/javascript"></script>

		<noscript>
		<a href="http://feed2js.org//feed2js.php?src=http%3A%2F%2Ffinance.yahoo.com%2Frss%2Fheadline%3Fs%3Dgoog%2Cappl%2Cfb&chan=y&num=20&date=y&targ=y&utf=y&html=y">View RSS feed</a>
		</noscript>
	</div>
</div>
