<%= form_for @new_portfolio, :url => {:action => "add"} do |f| %>
<div class="row">
	<div class="small- 20 columns">
		<div class="row">
			<div class="small-2 columns">
        		<%= f.label :ticker, class: "right inline"%>
		    </div>
			<div class="small-3 columns">
        		<%= f.text_field :ticker, :placeholder =>"Stock Ticker" %>
		    </div>

		    <div class="small-2 columns">
        		<%= f.label :quantity, class: "right inline"%>
		    </div>
		    <div class="small-3 columns">
		    	<%= f.text_field :quantity, :placeholder => "Amount of Stock" %>
		    </div>
		    <div class="small-10 columns">
		    	<%= f.submit "Add Stock", class: "btn btn-primary"%>
		    </div>
		</div>
		<div class="row">
			
		</div>
	</div>
</div>
<% end %>

<table>
  <thead>
    <tr>
      <th width="200">Stock</th>
      <th width="150">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="search/goog">GOOG</a></td>
      <td>3</td>
    </tr>
    <tr>
      <td><a href="search/fb">FB</a></td>
      <td>2</td>
    </tr>
    <tr>
      <td><a href="search/aapl">AAPL</a></td>
      <td>7</td>
    </tr>
  </tbody>
</table>