
		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name">
					<h1><%= link_to "Home", root_path %></h1>
				</li>
			</ul>

			<!-- Navi Bar Section -->
			<section class="top-bar-section">

				<!-- Navi Links -->
				<ul class="left">
					<li><%= link_to "My Portfolio", portfolio_path %></a></li>
					<li><%= link_to "News", news_path %></a></li>
					<li><%= link_to "FAQ", faq_path %></a></li>
				</ul>

			<%= form_tag(:url => {:action => "search"}, :method => 'post') do %>
				<ul class="right">
					<li class="has-form">
						<div class="row collapse">
								<div class="large-8 small-9 columns">
									<%= text_field_tag(:search, params[:search], :id => 'ticker', :placeholder => 'Stock Ticker') %>
        						</div>
								<div class="large-4 small-3 columns">
									<a href="/search" class="button">Search</a>
								</div>
			<% end %>
							<!-- Dropdown Account Menu -->
								<li class="has-dropdown">
        							<a href="#">My Account</a>
        							<ul class="dropdown">
          								<li><a href="#">Account Settings</a></li>
          								<li><a href="#">Logout</a></li>
        							</ul>
      							</li>
							</div >
						</div>
					</li>
				</ul>
			</section>
		</nav>
